<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Seminar Anlegen</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/grid.css" />
</head>

  <body>
    <header>
      <%- include("include/header.ejs") %>
    </header>

    <nav style="text-align: center">
      <%- include("include/nav.ejs") %>
    </nav>
    <div id="countainer">
    <main >
      
        <form action="  https://labs.inf.fh-dortmund.de/roomReservationService/testCreateReservation.php"
              method="POST">
            <h2>Seminar anlegen</h2>
            <fieldset>
                <legend>Lege ein Seminar an</legend>
                <fieldset>
                    <legend>Raumdaten</legend>
                    <br />
                    <label class="stern" for="raumnumer"> Raumnummer </label>
                    <input autofocus
                           required
                           name="roomno"
                           maxlength="6"
                           pattern="[A-Z]+[\.]+[E1-3]+[\.]+[0-9]{2}"
                           id="raumnumer" />
                    <br />
                    <label class="stern" for="bezeichung"> Bezeichung </label>
                    <input required
                           name="restitle"
                           maxlength="20"
                           placeholder="z.B. Vorlesung"
                           id="bezeichung" />
                </fieldset>

                <fieldset>
                    <legend>Zeit</legend>
                    <br />
                    <label class="stern" for="datum"> Datum </label>
                    <input required
                           type="date"
                           name="resdate"
                           min="2020-11-01"
                           max="2022-12-31"
                           id="datum" />

                    <br />
                    <label class="stern" for="startzeit"> Startzeit </label>
                    <input required
                           type="time"
                           name="resstart"
                           min="08:00"
                           max="21:00"
                           id="startzeit" />

                    <br />
                    <label class="stern" for="endezeit"> Endezeit </label>
                    <input required
                           type="time"
                           name="resend"
                           max="22:00"
                           id="endezeit" />
                </fieldset>

                <fieldset>
                    <legend>Personangaben</legend>
                    <br />
                    <label>
                        Teilnehmerzahl :
                        <input type="text" name="resparticipants" />
                    </label>

                    <br />
                    <label>
                        Buchende Person:
                        <select name="resperson">
                            <option value="Prof.Dr.Bohne">Prof.Dr.Bohne</option>
                            <option value="Prof.Dr.Bab">Prof.Dr.Bab</option>
                            <option value="Prof.Dr.Niehüser">Prof.Dr.Niehüser</option>
                            <option value="Prof.Dr.Faix">Prof.Dr.Faix</option>
                            <option value="Prof.Dr.Kiunke">Prof.Dr.Kiunke</option>
                        </select>
                    </label>
                </fieldset>

                <fieldset>
                    <legend>Beschreibung der Buchung</legend>

                    <br />
                    <label>
                        Beschreibung der Buchung:<br />

                        <textarea name="resdescription"
                                  cols="60"
                                  rows="8"
                                  maxlength="500">
              </textarea>
                    </label>
                </fieldset>

                <br />
            </fieldset>
            <br />
          <fieldset>
            <button type="submit"><em>Senden</em></button>
          </fieldset>
        </form>
    </main>
    <aside>
      <%- include("include/aside.ejs") %>
    </aside>
  </div>
    
    <footer id="company">
      <%- include("include/footer.ejs") %>
    </footer>
    <script src="js/tictac.js"></script>
  </body>
</html>
