<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Raumdetails</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/grid.css" />
</head>
  <body>
    <header>
      <%- include("include/header.ejs") %>
    </header>
    <nav style="text-align: center">
      <%- include("include/nav.ejs") %>
    </nav>
    <div id="countainer">
    <main>
      <section id ="raumdetail">
      <article title="Informationen zum Raum" id="infos">
        <h3>Informationen zum Raum</h3>
        <ul id="infosRaum">
         
        </ul>
      </article>

      <article title="Abbildung">
        <h2>Abbildung</h2>
        <figure>
          <img src="img/pic.jpg" alt="Foto des Raums nicht gefunden!" id="theRoomIMG" />
          <figcaption id="caption">Pressefotografie</figcaption>
        </figure>
      </article>

      <article title="Alle Buchungen" id="table">
        <h2>Alle Buchungen</h2>

        <table id="tableau">
          <thead>
            <tr>
              <th>Datum</th>
              <th>Startuhrzeit</th>
              <th>Enduhrzeit</th>
              <th>Bezeichnung</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </article>
    </section>
    </main>
    <aside>
      <%- include("include/aside.ejs") %>
    </aside>
  </div>
    <footer id="company">
      <%- include("include/footer.ejs") %>
    </footer>
    <script src="js/jscript.js"></script>
  </body>
</html>
