<ul class="Navi-Elemente">
   <li><a href="ListRooms">Raumliste</a></li>

   <li><a href="DetailsRoom">Raumdetails</a></li>

   <li><a href="DetailsBooking">Buchungsdetails</a></li>

   <li><a href="CreateSeminar">Seminar anlegen</a></li>
 </ul>